.SocialLinks a{
    
    width: 50px;
    display:inline-flex;
    justify-content: space-around;
    align-items: center;


}
.facebook{
    color: blue;
}
.instagram{
    color:purple;
}
.twitter{
    color:blue;
}