.blog2{
    margin-left: 5%;
    margin-right: 5%;
}
.author{
    display:inline-flex;
}
.profileImage{
    border-radius: 50%;
}
.tags{
    font-weight: lighter;
    color: #097eeb;
    margin-top: 12px;
}

    
.button2{
    background-color: #9cc9f2;
    color: black;
    text-align:center;

    margin: 35px 5px;
    cursor: pointer;



    width: 70px;
    height:35px;
   
    font-size:15px;
    padding:1% 1% 1% 1%;
    border-radius: 10px ;
    border:none;
    font-weight: bold;
    box-shadow: 2px 2px 2px grey;
    font-family: 'Roboto', sans-serif;
    
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-weight: bold;
 

}