.logo1 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-column: 1/2;
}
.divs {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.logoText {
  display: grid;
  grid-column-start: 2;
  font-size: 40px;
  font-weight: bolder;
  color: #696f45;
}
@media only screen and (max-width: 600px) {
  .logoText {
    display: none;
  }
}
