.background{
    background-color: #fffbfa; 
    min-height:600px;
    display:grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 1fr 1fr 1fr;
}
.body{
    background-color: white;
    box-shadow: 3px 3px 5px grey;
    border-radius: 15px ;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 40px;

    display: flex;
  flex-flow: column;
  justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    justify-items: center;

    grid-column: 2/3;
    grid-row: 3/4;

    padding: 15px;
    color: gray;
}


