.form {
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
  grid-template-areas: ". picture text .";

}
.firstDiv {
  grid-area: picture;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.pictureDiv {
  display: flex;
  justify-content: center;
}
.counters {
  display: grid;
  grid-template-columns: 50% 50%;
  bottom: 0%;
}
.counters h4 {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.labels {
  display: grid;
  grid-template-columns: 50% 50%;
}
.labels h4 {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-weight: normal;
}

.secondDiv {
  grid-area: text;
  display: grid;
  grid-template-rows: 20% 80%;
  margin-right: 10%;
  margin-left: 3%;
}
.heading {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.nameAndEdit {
  display: flex;
}
.username {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0px;
  margin-right: 20px;
}

.editDiv {
  display: flex;
  align-self: center;
  margin-top: 20px;
  transition: transform 0.2s;
  cursor: pointer;
}
.editDiv:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}
.bookmarkDiv {
  transition: transform 0.2s;
}
.bookmarkDiv:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}
a {
  width: 0%;
}

.text {
  grid-row: 2/3;
  margin-top: 35px;
  line-height: 1.3;
}
