.container{
  column-count: 2;
  column-width: auto;
  column-gap: 35px;
  
  margin-top:1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:15%;
}
.profilePost{
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 3%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0 lightgray;
}
.image{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: -1;
}
.bookmarkIcon{
  position: absolute; top:6%; right:8%;
  cursor: pointer;
}
.bookmarkIcon:hover{
  color: white;
  transition: all 0.5s ease-in-out;
}
.title{
  margin-left: 9%;
  margin-right: 9%;
}
.textContainer{
  margin-left: 9%;
  margin-right: 9%;
}
/*.text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable 
}*/



.buttonPosition{
  display:flex;
  justify-content: center;
}
.button1{
  width:200px;
  height: 65px;
  background-color: rgb(255, 255, 255);
  color: darkslategray;
  font-size: 1.2em;
  font-weight: bold;

  border-radius: 20px ;
  border:none;
  padding:10px;
  box-shadow: 0px 0px 5px 0 gray;
  cursor: pointer;
  margin:20px 30px;
  outline: 0;
}
.buttonPosition button:hover {
  background-color: #28a535;
  color: white;
  transition: all 0.5s ease-in-out;
}
.line{
  margin-top:6%;
  margin-left:20%;
  margin-right: 20%
}


