.container{
  column-count: 2;
  column-width: auto;
  column-gap: 40px;
  row-gap: 40px;

  margin-top:1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:5%;
}
.profilePost{
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 4%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0 lightgray;
  transition: transform .2s;

  -webkit-column-break-inside: avoid;
  backface-visibility: hidden;

}
.profilePost:hover{
  transform: scale(1.05);
}
.image{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: -1;
  height:250px;
}
.trashIcon{
  position: absolute; top:6%; right:8%;
  transition: transform .2s;
  z-index: 2;
  cursor: pointer;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15%;
}
.trashIcon:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}
.title{
  font-size: 20px;
  margin-left: 9%;
  margin-right: 9%;
}
.textContainer{
  margin-left: 9%;
  margin-right: 9%;
}
.text{
  line-height: 1.5;
}
/*.text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable 
}*/



.buttonPosition{
  display:flex;
  justify-content: center;
  transition: transform .2s;
}
.button1{
  width:200px;
  height: 65px;
  background-color: rgb(255, 255, 255);
  color: darkslategray;
  font-size: 1.2em;
  font-weight: bold;

  border-radius: 20px ;
  border:none;
  padding:10px;
  box-shadow: 0px 0px 5px 0 gray;
  cursor: pointer;
  margin:40px 30px;
  outline: 0;
}
.buttonPosition button:hover {
  background-color: #28a535;
  color: white;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}
.line{
  margin-left:20%;
  margin-right: 20%;
}
.show{
  display:none;
}