.footer {
    background-color: grey;
    padding: 15px;
    display: flex;
    color: white;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    height:200px;
    align-items: center;
    font-weight:bolder;
    
    
}
.navigation{
    margin:1%;
}
.contact{
    margin:0%;
}
.link{
    text-decoration: underline;
}
.text{
    font-weight: normal;
}