.footer {
  background-color: rgba(105, 111, 69, 0.18);
  padding: 15px;
  color: #444444;
  font-size: 16px;
  font-weight: bolder;
  height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation {
  margin: 1%;
  color: #444444;
}
.contact {
  margin: 0%;
}
.link {
  text-decoration: underline;
}
.link:hover {
  color: #097eeb;
}
.text {
  font-weight: normal;
}
