.footer {
    background-color: #494B51;
    padding: 15px;
    display: flex;
    color: white;
    font-size: 16px;
    justify-content: space-between;
    height:70px;
    align-items: center;
    font-weight:lighter;
    
}
