.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.NoContent{
  min-height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  box-shadow: 0px 0px 8px 0 lightgray;
  border-radius: 20px;
  transition: transform 0.2s;
}
.post:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.03);
}
.imageDiv {
  width: 35%;
}
.image {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: -1;
  height: 260px;
  width: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 60%;
}
.tags {
  font-weight: lighter;
  color: #696f45;
}
.body h2 {
  font-size: 27px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
}

.author {
  display: inline-flex;
}
.profileImage {
  border-radius: 50%;
  cursor: pointer;
}
.name {
  cursor: pointer;
  padding-left: 3px;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  align-self: center;
}
.text {
  font-size: 18px;
  line-height: 1.6;
}
.ratingandname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.rating {
  align-self: center;
}
