.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  
}
.post {
  grid-column: 2/3;
  display: flex;
  margin-bottom: 5%;
  box-shadow: 0px 0px 8px 0 lightgray;
  border-radius: 20px;
  transition: transform .2s;
}
.post:hover{
  transform: scale(1.05);
}
.imageDiv {
  width: 35%;
}
.image {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: -1;
  height: 250px;
  width: 100%;
}
.body {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
}
.tags {
  font-weight: lighter;
  color: #696f45;
  line-height: 1.75;
  margin-top: 5px;
}
.body h2{
    margin-top: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}
.author {
  display: inline-flex;
}
.profileImage {
  border-radius: 50%;
  cursor: pointer;
}
.name {
  cursor: pointer;
  padding-left: 3px;
  font-size: 15px;
  font-weight: 600;
}

