.container{
    display: grid;
    grid-template-columns: 20% 60% 20%;

}
.post{
    grid-column: 2/3;
}
.setHeight{
    min-width: 500px;
}
/*
.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  .post {
    grid-column: 2/3;
    display: flex;
    margin-bottom: 5%;
  }
  .imageDiv {
    width: 35%;
  }
  .image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -1;
    height: 250px;
    width: 100%;
  }
  .body {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .tags {
    font-weight: lighter;
    color: #696f45;
    margin-top: 8px;
  }
  .body h2{
      margin-top: 5px;
      margin-bottom: 8px;
  }
  .author {
    display: inline-flex;
  }
  .profileImage {
    border-radius: 50%;
    cursor: pointer;
  }
  .name {
    cursor: pointer;
    padding-left: 3px;
    font-size: 15px;
    font-weight: 600;
  }
  .follow {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #0095f6;
    cursor: pointer;
  }
  */
   