.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  flex-direction: column;
}
.container header {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}
.button {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;

  margin: 5px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 130px;
  height: 40px;

  font-size: 15px;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
  border: none;

  box-shadow: 2px 2px 2px grey;
  font-family: "Roboto", sans-serif;

  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-weight: bold;
}
.wholeBlog {
  grid-column: 2/3;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0 lightgray;
}
.imageAndIcon {
  position: relative;
}
.image {
  height: 250px;
  display: block;
}
.bookmarkIcon {
  position: absolute;
  top: 12%;
  right: 8%;
  cursor: pointer;
}
.head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}
.blog1 .h2 {
  grid-column: 2/3;

  justify-self: center;
  align-self: center;
}
.rating {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.wholeBlog article {
  margin-left: 5%;
  margin-right: 5%;
}
.button1 {
  background-color: white;
  color: black;
  text-align: center;

  margin-bottom: 10px;
  cursor: pointer;
  width: 130px;
  height: 40px;

  font-size: 15px;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;

  border: none;

  box-shadow: 2px 2px 2px grey;
  font-family: "Roboto", sans-serif;

  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-weight: bold;
}
.button2 {
  background-color: #9cc9f2;
  color: black;
  text-align: center;

  margin: 5px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 95px;
  height: 35px;

  font-size: 15px;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
  border: none;

  box-shadow: 2px 2px 2px grey;
  font-family: "Roboto", sans-serif;

  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-weight: bold;
}

.commentBody {
  margin-left: 5%;
  margin-right: 5%;
}
.commentsTitle {
  margin-left: 5%;
  margin-right: 5%;
}
.buttonDiv {
  display: flex;
  flex-grow: 1;
}
textarea {
  background-color: white;

  color: lightslategray;
  padding: 1% 7%;
  text-align: left;
  text-decoration: none;

  display: flex;
  flex-grow: 1;

  font-size: 15px;
  cursor: auto;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;

  border-color: gray;
  border-radius: 10px;

  outline: none;
  resize: none;
}
.readMoreButton {
  width: 30%;
  background-color: #fae4ce;

  border-radius: 20px;
  border: none;
  padding: 10px;
  box-shadow: 3px 3px grey;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-weight: bold;

  margin-bottom: 15px;
}
.readmore {
  display: flex;
  justify-content: center;
}
.commentButtons {
  display: flex;
  justify-content: flex-end;

  margin-right: 5%;
}

.backButton {
  display: flex;
  flex-flow: column;
  align-items: center;
}
