.titleImage {
    height: 650px;
    width: 100%;
    position: relative;
}
 
.titleImage > div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: white;
    
}
 
.titleImage h1 {
    font-size: 64px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.808);
    margin-bottom: 45px;
}
 
.titleImage p {
    font-size: 30px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 45px 12px;
    margin: 0;
    border-top: 2.5px solid #FFF;
}

.banner section{
    display:flex;
    flex-direction:column;
    align-items: center;  
}
.button{
    
    background-color: #565854;
    
    color: white;
    padding: 20px 34px;
    text-align: center;
    
    
    font-size: 24px;
    
    cursor: pointer;
    margin:1px;

    border-bottom-left-radius: 10% 25%;
    border-top-left-radius: 10% 25%;
    border-bottom-right-radius: 10% 25%;
    border-top-right-radius: 10% 25%;
    

}
