.banner {
  height: 90vh;

  background-image: url("../../images/banner.jpg");

  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  text-align: center;
  box-shadow: inset 2000px 0 0 rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  background: transparent;
  padding: 4%;
}

.title h1 {
  color: #5c613e;
  font-size: 50px;
  
  text-shadow: 0 0 15px white;
  text-align: left;
  margin: 0;
}

.description {
  font-size: 32px;
  text-shadow: 0 0 6px rgb(255, 255, 255);
  text-align: left;
  padding-right: 30%;
}

.button1 {
  background-color: #696f45;
  color: white;

  height: 50px;
  width: max-content;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
}
.button2 {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;

  height: 50px;
  width: max-content;
  font-size: 20px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 10px;
  border-color: #696f45;
  border-width: 3px;
  outline: none;
  text-align: center;
}
.button1:hover {
  background-color: #28a535;
  color: white;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}
.button2:hover {
  box-shadow: none;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}
.buttonDiv {
  display: flex;
}
.section {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  display: flex;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
